@media (max-width: 768px) {
	section {
		background-color: #fff;
	}
	/* header */
	header {
		width: 100%;
		height: 100px;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		box-shadow: 0 0 10px rgba(0, 0, 0, 4);
	}
	header li a {
		color: #fff;
	}
	.header-inner {
		width: 100%;
	}
	.header-inner div {
		background-color: transparent;
	}
	.navi {
		display: none;
	}
	.logo {
		display: flex;
		align-items: center;
	}
	.logo img {
		width: 200px;
	}
	
	.lnb {
		flex: 1.5;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lnb div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.lnb div span {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lnb i {
		font-size: 20px;
		padding: 21px 16px;
		color: #212529;
		cursor: pointer;
	}
	.lnb i:hover {
		color: crimson;
		transition: 0.5s;
	}

	/* Welcome section */
	.welcome {
		width: 100%;
		background-color: #f0f0f2;
		position: relative;
		overflow: hidden;
	}

	.welcome div {
		width: 100%;
		position: absolute;
	}

	.welcome div img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 500px;
		object-fit: cover;
	}

	.welcome .slick-slide:nth-child(1) a {
		color: red;
		padding: 0 10px;
		font-size: 13px;
		background-color: #fff;
		transition: 0.8s;
	}

	.welcome .slick-slide:nth-child(1) a:hover,
	.welcome .slick-slide:nth-child(2) a:hover,
	.welcome .slick-slide:nth-child(3) a:hover {
		background-color: red;
		color: #fff;
	}

	.welcome .slick-slide:nth-child(1) span,
	.welcome .slick-slide:nth-child(2) a,
	.welcome .slick-slide:nth-child(3) a {
		position: absolute;
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: red;
		text-align: center;
		width: 150px;
		height: 30px;
		line-height: 30px;
		padding: 0;
		font-weight: bold;
		font-size: 14px;
		background: #fff;
	}

	.welcome .slick-slide:nth-child(1) span {
		color: #fff;
		text-align: left;
		font-size: 16px;
		background: transparent;
	}

	/* new items */
	.new-item {
		width: 100%;
		height: 1300px;
		align-items: flex-start;
	}

	.new-item-inner {
		padding: 20px;
		width: 100%;
	}

	.new-item-inner h1 {
		font-size: 26px;
		padding: 0px;
		text-align: center;
	}

	.items {
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.items div {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 10px;
	}

	.items div img {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}

	.item-text a {
		font-size: 20px;
		margin: 16px 0;
	}


	/* image-galleary */
	.image-galleary {
		width: 100%;
		height: 1000px;
	}

	.image-galleary-inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0px;
	}

	.image-galleary-inner .image-box:nth-child(1) {
		flex: 1;
	}

	.image-galleary-inner .image-box:last-child {
		flex: 2;
		gap: 0px;
	}

	/* popular item */
	.popular-items {
		width: 100%;
		height: 1200px;
	}
	
	.popular-items-inner > h1 {
		padding: 10px;
		text-align: center;
		font-size: 24px;
	}

	.popular-items-inner > h1 > span {
		text-align: left;
		font-size: 14px;
	}

	.popular-item {
		padding: 0px;
	}

	.popular-item>div {
		width: 50%;
		height: 300px;
	}

	.popular-text a,
	.popular-photo a {
		font-size: 14px;
	}

	.popular-photo:hover a {
		line-height: 20px;
		height: 20px;
	}

	.love {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 20px;
		height: 20px;
	}

	.love:before,
	.love.active:before {
		font-size: 18px;
	}

	/* video start */
	.video-form {
		width: 100%;
		height: 400px;
		background: url('img/videoimg.jpg') no-repeat center bottom ;
		background-size: cover;
		position: relative;
	}

	.playbtn {
		font-size: 100px;
		color: rgba(255, 255, 255, 0.5);
	}

	.video-modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transition: 0.5s;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		visibility: hidden;
		z-index: 1;
	}

	.video-modal.active {
		opacity: 1;
		visibility: visible;
	}

	video {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 100%;
		height: 300px;
	}

	.video-close {
		position: absolute;
		right: 5px;
		top: 3px;
		font-size: 40px;
		color: #fff;
		cursor: pointer;
		z-index: 1111111111111;
		transform: 0.5s;
	}

	.next-box {
		width: 200px;
		height: 50px;
		font-size: 18px;
	}

	/* video start */

	/* watch detail start */

	.watch {
		width: 100%;
		height: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.watch-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.watch-item {
		padding: 0px;
		gap: 5px;
	}

	.watch-item div {
		width: 50%;
		margin-bottom: 50px;
	}

	.watch-text h2 {
		font-size: 21px;
		text-align: center;
	}

	.watch-text p {
		padding: 5px;
		font-size: 14px;
	}

	.watch-item a {
		margin-top: 5px;
		text-align: center;
		padding: 5px 0;
		font-size: 14px;
	}

	.watch-item a::before {
		font-size: 14px;
		line-height: 18px;
	}

	/* watch detail end */

	/* service  start */
	.service {
		height: 400px;
	}

	.service-inner>div {
		display: flex;
		justify-content: flex-start;
		padding: 10px;
		text-align: center;
	}

	.service-inner div b {
		margin: 3px 0;
		font-size: 14px;
	}

	.service-inner div p {
		font-size: 14px;
		color: silver;
	}

	/* service  end */

	/* footer start */
	.footer-inner {
		height: auto;
		background-color: #fff;
	}
	footer {
		justify-content: center;
	}
	
	.sitemap {
		flex-direction: column;
	}

	.sitemap > div:nth-child(1) {
		align-items: center;
		padding: 10px;
	}

	.sitemap>div:nth-child(1) p {
		font-size: 16px;
		margin-bottom: 50px;
	}

	.sitemap>div h4 {
		font-size: 14px;
		margin-bottom: 0;
	}

	.sitemap ul li {
		margin: 10px;
		font-size: 12px;
		padding: 5px;
	}

	.copyright {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.copyright span {
		font-size: 10px;
		padding: 0 3px;
	}

	.copyright i {
		display: none;
	}

	/* footer end */

	/* up botton */
	.up {
		bottom: 0;
		right: 0;
		width: 35px;
		height: 35px;
	}
	.up i {
		font-size: 32px
	}
	/* search modal  */
	.search-logo {
		text-align: left;
	}
	.search-logo img {
		width: 200px;
		padding: 5px;
	}
	.search-content-inner h1 {
		text-align: center;	
		font-size: 18px;
	}
	.search-content-inner > div  {
		padding: 0 30px;
	}
	.search-content-inner > div input {
		padding: 0px;
		width: 250px;
		height: 30px;
		padding-right: 0px;
		margin-bottom: 20px;
		margin-right: 10px;
	}
	.search-content-inner button {
		width: 35px;
		height: 35px;
		padding: 0;
		line-height: 35px;
		font-size: 18px;
		border: none;
	}
	.search-content-inner button i {
		text-align: center;
	}
	.search-content-inner a {
		font-size: 18px;
	}
	.search-content-inner a i {
		margin-right: 5px;
	}
	.search-content-inner a i {
		font-size: 32px;
		margin-top: -5px;
		vertical-align: middle;
	}
	.search-close {
		top: -90px;
		right: 20px;
	}
	/* login tab */
	.login-menu,
	.cart-menu {
		position: absolute;
		bottom: -300px;
		right: 0px;
		width: 100%;
		height: 300px;
		background: #fff;
		display: none;
	}
}